{% import '_includes/forms.twig' as forms %}

{{ forms.textField({
    label: 'Webspace (in GB)',
    name: 'diskTotalSpace',
    value: settings.diskTotalSpace,
    type: 'number',
    placeholder:'1',
    min: 0,
    size: 4
}) }}
<p>
    Fill in the available webspace for this project.
</p>


{{ forms.lightswitchField({
    label: 'Add Database Size to calculation',
    name: 'dbSizeInCalc',
    value: settings.dbSizeInCalc,
    on: settings.dbSizeInCalc,
}) }}