<table class="fullwidth">
    <div id="chart" class="overview-chart" data-disk_free_space="{{ disk_free_space }}"
         data-disk_total_space="{{ disk_total_space }}"></div>
    <pre>
        {{ tester1 }}
    </pre>
    <pre>
        {{ tester2 }}
    </pre>
</table>
