<div class="sCC {{ alert ? "alert" : "" }}">
    <div class="sCC-topArea">
        <div class="sCC-topArea-left">
            <div class="sCC-circleContainer" data-size="{{ diskUsagePercent }}">
                <div class="sCC-circle">
                    <div class="sCC-circleInner"></div>
                </div>
            </div>
        </div>
        <div class="sCC-topArea-right">
            <span class="sCC-percentage">0
            </span>
        </div>
    </div>
    <div class="sCC-bottomArea">
        <div class="sCC-bottomArea-left">
            <div class="sCC-quota">
                {{ diskTotalSpace }}
            </div>
            <div class="sCC-webspace">
                Webspace
            </div>
        </div>
        <div class="sCC-bottomArea-right">
            <div class="sCC-used">used</div>
            <div class="sCC-info">{{ alert ? "time for action (TODO: info)" : "plenty of space left" }}</div>
        </div>
    </div>
    <div class="sCC-label">
        SpaceControl
    </div>

</div>